.header {
  display: flex;
  padding: 20px;
}

.header button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.headerFlag {
  flex: 1;
  margin-right: 16px;
}

.headerName,
.headerPopulation,
.headerArea,
.headerGini {
  flex: 4;
  color: var(--text-color-secondary);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerName {
  justify-content: flex-start;
}

.headingArrow {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
}

.row {
  display: flex;
  padding: 20px;
  text-align: center;
  background-color: var(--background-color-light);
  border-radius: 8px;
  margin-bottom: 16px;
  box-shadow: var(--box-shadow);
  font-weight: 500;
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.row:hover {
  cursor: pointer;
  transform: translateY(-4px);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.name {
  flex: 4;
  text-align: left;
}

.population {
  flex: 4;
}

.area {
  flex: 4;
}

.gini {
  flex: 4;
}

.flag {
  flex: 1;
  margin-right: 16px;
}

.flag img {
  border-radius: 2px;
  width: 100%;
}

@media screen and (max-width: 720px) {
  .area,
  .headerArea {
    display: none;
  }

  .gini,
  .headerGini {
    display: none;
  }

  .flag,
  .headerFlag {
    display: none;
  }
}
